<div class="wrapper-sm">
    <tabset class="nav-tabs">
        <tab>
            <tab-heading>
                用户详情
            </tab-heading>

            <div ng-controller="AccountDetailCtrl as accountDetailCtrl">

                <div class="row">

                    <div class="col-lg-4">
                        <div div class="panel panel-default">
                            <div class="panel-heading font-bold"> 基本信息 </div>

                            <div class="panel-body text-left">

                                <input type="hidden" name="{{data.basic.user_type}}">
                                <p>用户ID:<strong>{{data.basic.id}}</strong> 用户类型:<strong>{{data.basic.user_type_desc}}</strong></p>
                                <input type="hidden" name="{{data.basic.sex}}">
                                <p>称呼:<strong>{{data.basic.name}}</strong> 性别:<strong>{{data.basic.sex_desc}}</strong></p>

                                <p>手机:<strong>{{data.basic.mobile}}</strong></p>

                                <!-- 基本信息 -->
                                <p>邀请码:<strong>{{data.basic.invite_code}}</strong></p>
                                <p>城市id:<strong>{{data.basic.city_id}}</strong></p>

                                <p>家庭地址:<strong>{{data.basic.home_location.district + data.basic.home_location.area + data.basic.home_location.name}}</strong></p>
                                <p><strong style="padding-left: 60px;">{{data.basic.home_location.address}}</strong></p>
                                <p>公司地址:<strong>{{data.basic.company_location.district + data.basic.company_location.area + data.basic.company_location.name}}</strong></p>
                                <p><strong style="padding-left: 60px;">{{data.basic.company_location.address}}</strong></p>

                                <!-- 车辆部分信息 -->
                                <p>车辆信息:<strong>{{data.car.color}} {{data.car.model  + '-' + data.car.model_id}}</strong></p>
                                <p>车牌号:<strong>{{data.car.number_prefix}}{{data.car.number_suffix}}</strong></p>

                            </div>

                            <!--<div class="panel-footer">-->
                            <!--<small>90%</small>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div div class="panel panel-default">
                            <div class="panel-heading font-bold"> 个人资料 </div>

                            <div class="panel-body text-left">

                                <!--实名信息-->
                                <p>真实姓名:<strong>{{data.auth.realname}}</strong></p>
                                <p>身份证号:<strong>{{data.auth.idcard}}</strong></p>
                                <input type="hidden" name = "{{data.auth.state}}"/>
                                <p>实名认证状态:<strong>{{data.auth.state_desc}}</strong></p>
                                <p>审核失败原因:<strong>{{data.auth.reason}}</strong></p>

                                <!-- 匹配信息-->
                                <input type="hidden" name = "{{data.match.enable}}"/>
                                <input type="hidden" name = "{{data.match.time_type}}"/>
                                <p>是否开启推送:<strong>{{data.match.enable_desc}}</strong></p>
                                <p>路线匹配时间类型:<strong>{{data.match.time_type_desc}}</strong></p>
                                <p>上班出发时间:<strong>{{data.match.up_time.start/60/60}}~{{data.match.up_time.end/60/60}}</strong></p>
                                <p>下班出发时间:<strong>{{data.match.down_time.start/60/60}}~{{data.match.down_time.end/60/60}}</strong></p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>

                            </div>

                            <!--<div class="panel-footer">-->
                            <!--<small>% 80</small>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading font-bold"> 个人附加信息 </div>

                            <div class="panel-body text-left">

                                <!-- 扩展信息-->
                                <p>标签:<strong>{{data.basic.tags}}</strong></p>
                                <p>生日时间戳:<strong>{{data.basic.birthday}}</strong></p>
                                <p>行业:<strong>{{data.basic.trade_name}}</strong></p>
                                <p>职位:<strong>{{data.basic.position}}</strong></p>
                                <p>公司:<strong>{{data.basic.companys}}</strong></p>
                                <p>学校名称:<strong>{{data.basic.school_name}}</strong></p>
                                <p>家乡:<strong>{{data.basic.hometown.province_name}}-{{data.basic.hometown.city_name}}-{{data.basic.hometown.district_name}}</strong></p>
                                <p>爱好:<strong>{{data.basic.hobby}}</strong></p>
                                <p>一句话介绍:<strong>{{data.basic.intro}}</strong></p>

                                <p>机型(版本):<strong>{{data.basic.client_type}}</strong></p>
                                <p>APP版本:<strong>{{data.basic.appver}}</strong></p>

                            </div>

                            <!--<div class="panel-footer">-->
                            <!--<small>% 100</small>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading font-blod">照片信息<span class="text-danger">（上面最新审核通过的头像，可能与最新上传的头像不同）</span></div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span>最新审核通过照片:</span>
                                        <div class="text-center">
                                            <a href="javascript:void(0);" ng-click="openImgBox(data.basic.id,data.basic.headimg,'',1)">
                                                <img style="height: 100px; width: 100px;" ng-src="{{data.basic.headimg}}"/>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span>最新上传照片:</span>
                                        <div class="text-center">
                                            <a href="javascript:void(0);" ng-click="openImgBox(data.basic.id,data.basic.headimg_checking,'',1)">
                                                <img style="height: 100px; width: 100px;" ng-src="{{data.basic.headimg_checking}}"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <input type="hidden" name="{{data.basic.headimg_state}}"/>
                                <p>头像审核状态:<strong>{{data.basic.headimg_state_desc}}</strong>
                                  原因:<strong>{{data.basic.headimg_reason}}</strong></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading font-blod">车辆信息</div>
                            <div class="panel-body">
                                <div class="row">
                                    <!--<div class="col-lg-6">-->
                                        <!--<span>车辆45度照片</span>-->
                                        <!--<div class="text-center">-->
                                            <!--<a href="javascript:void(0);" ng-click="openImgBox(data.basic.id,data.car.image,'',2)">-->
                                                <!--<img style="height: 120px; width: 120px;" ng-src="{{data.car.image}}"/>-->
                                            <!--</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-lg-12 text-center">
                                        <span>车辆正面照片</span>
                                        <div class="text-center">
                                            <a href="javascript:void(0);" ng-click="openImgBox(data.basic.id,data.car.image,'',2)">
                                                <img style="height: 120px; width: 120px;" ng-src="{{data.car.image}}"/>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <input type="hidden" name="{{data.car.image_state}}"/>
                                <p>车照审核状态:<strong>{{data.car.image_state_desc}}</strong>
                                    原因:<strong>{{data.car.image_reason}}</strong></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading font-blod">证件信息 -- 车主审核状态:<strong>{{data.driver.state_desc}}</strong> </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span><h4>驾驶证</h4></span>

                                        <div class="text-center">
                                            <a href="javascript:void(0);" ng-click="openImgBox(data.basic.id,data.driver.license,'',3)">
                                                <img style="height: 120px; width: 120px;" ng-src="{{data.driver.license}}"/>
                                            </a>
                                        </div>

                                        <div class="row">
                                            <input type="hidden" name="{{data.driver.state}}"/>
                                            <input type="hidden" name="{{data.driver.license_state}}"/>
                                            <p>证件审核状态:<strong>{{data.driver.license_state_desc}}</strong>
                                               原因:<strong>{{data.driver.license_reason}}</strong></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span><h4>行驶本</h4></span>
                                        <div class="text-center">
                                            <a href="javascript:void(0);" ng-click="openImgBox(data.basic.id,data.car.license,'',4)">
                                                <img style="height: 120px; width: 120px;" ng-src="{{data.car.license}}"/>
                                            </a>
                                        </div>
                                        <div class="row">
                                            <input type="hidden" name="{{data.car.license_state}}"/>
                                            <p>证件审核状态:<strong>{{data.car.license_state_desc}}</strong
                                               原因:<strong>{{data.car.license_reason}}</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="panel-footer">-->
                                <!--<small>% 10</small>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading font-blod">个人相册</div>
                            <div class="panel-body">
                                <div class="row">
                                    <img ng-repeat="photo in data.photos" class="thumb-xl b-a b-light m-xs" ng-src="{{photo.photo_url}}" ng-click="showphotoBox(photo.user_id,photo.id,photo.photo_url,'')"/>
                                </div>

                                <div class="row">
                                    <table>
                                        <tr ng-repeat="log in photosDelLogs">
                                            <td>{{log.oper_name}}</td>
                                            <td>{{log.op}}</td>
                                            <td>{{log.create_time}}</td>
                                            <td>{{log.remark}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!--<div class="panel-footer">-->
                                <!---->
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading font-blod">语音介绍</div>
                            <div class="panel-body">

                                <div class="row">
                                    <audio id="voice_intro" controls="controls" style="width: 60px; height: 30px; display:none"></audio>
                                </div>

                                <div class="row">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-lg-2 control-label">原因</label>
                                            <div class="col-lg-10">
                                                <input ng-model="delVoiceReason" type="text" class="form-control" placeholder="删除原因">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button type="submit" class="btn btn-sm btn-info" ng-click="voiceDele(data.basic.id)" ng-show="permits.account_list.delete">删除</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="row">
                                    <table>
                                        <!--"id":1, //编号-->
                                        <!--"service":"gaea",   //外部服务名称-->
                                        <!--"oper_id":1234, //外部服务操作人编号-->
                                        <!--"oper_name":"xxx",  //外部服务操作人名称-->
                                        <!--"user_id":123,  //被操作用户编号-->
                                        <!--"op":"delete",  //操作方式-->
                                        <!--"obj":"album",  //操作对象-->
                                        <!--"remark":"操作备注",    //操作备注-->
                                        <!--"create_time":"2015-11-20 12:00:00",    //操作时间-->
                                        <tr ng-repeat="log in voiceDelLogs">
                                            <td>{{log.oper_name}}</td>
                                            <td>{{log.op}}</td>
                                            <td>{{log.create_time}}</td>
                                            <td>{{log.remark}}</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center">
                    <a class="btn btn-primary" ui-sref="app.account.list">返回列表</a>

                    <button type="submit" class="btn btn-sm btn-info m-l-md" ng-click="openAccountEdit()" ng-show="permits.account_list.update">
                        <i class="glyphicon glyphicon-search"></i>
                        <stong>修改用户信息</stong>
                    </button>
                </div>


                <!--弹出框-->
                <script type="text/ng-template" id="account.edit.html">
                    <div ng-include="'tpl/account/account.edit.html'"></div>
                </script>

                <script type="text/ng-template" id="account.showimg.html">
                    <div ng-include="'tpl/account/account.showimg.html'"></div>
                </script>

                <script type="text/ng-template" id="account.showphoto.html">
                    <div ng-include="'tpl/account/account.showphoto.html'"></div>
                </script>
            </div>

        </tab>


    </tabset>
</div>


