<div class="wrapper-sm">
    <div >
        <div class="panel-heading font-bold">
            <button class="btn btn-xs btn-danger pull-right" ng-click="cancel()">
                <i class="glyphicon glyphicon-remove">关闭</i>
            </button>
        </div>

        <div style="width:100%;  word-wrap: break-word; word-break: normal; word-break:break-all; ">
            <table ng-table="alarm.tableParams"
                   class="table table-condensed table-bordered table-striped text-center small">
                <tr  ng-repeat="row in $data">
                    <td data-title="'项目名'" width="10%">
                        {{row.project}}
                    </td>
                    <td data-title="'报警时间'" width="10%">
                        {{row.time}}
                    </td>

                    <td data-title="'报警内容'" width="60%">
                        {{row.message}}
                    </td>

                    <td title="'报警接收人'" width="20%">
                        {{row.receivor}}
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>


