<div class="panel panel-default">
    <div class="panel-heading font-bold">内容编辑</div>
    <div class="modal-body  wrapper-lg">
        <form role="form" class="form-horizontal" novalidate="novalidate" name="cms_edit_form">
            <div class="form-group">
                <label class="col-sm-2 control-label">标题</label>

                <div class="col-sm-6"
                     ng-class="">
                    <input type="text" class="form-control" placeholder="标题"
                           ng-model="title"
                           ng-required="true">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">类型</label>

                <div class="col-sm-6">
                    <select ng-model="city"
                            ng-options="value.id as value.name for value in citys" class="form-control">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="ueditor" ng-model="content"></div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="cancel()">取消</button>
        <button ng-disabled="cms_edit_form.$invalid" class="btn btn-primary" ng-click="ok()">保存</button>
    </div>
</div>
